<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
      <!-- List of XML mapping files -->
      <mapping class="com.project.fites.Aeroport"/>
      <mapping class="com.project.fites.Ciutat"/>
      <mapping class="com.project.fites.Ruta"/>
   </session-factory>
</hibernate-configuration>